.box.w30
  %ul.clinics
    - @clinics.each do |clinic|
      %li(class="#{@clinic == clinic and 'current' or ''}")
        = link_to clinic.name, site_clinic_path(@site, clinic)

%br
.box.w30
  = form_tag site_clinics_path(@site) do
    = label_tag 'clinic[name]', 'Name'
    = text_field_tag 'clinic[name]', nil, maxlength: 80
    = submit_tag 'Add'

