.providers-list
  %table.GralTable
    %colgroup
      %col(style="width: 55px;")
      %col(style="width: auto;")
      %col(style="width: 70px;")
      %col.noprint(style="width: 100px;")
    %tbody
      %tr
        %th Code
        %th Name
        %th Enabled?
        %th
      - @providers.each do |provider|
        %tr
          %td= provider.code
          %td= provider.name
          %td
            = check_box_tag "enabled", provider.id, provider.enabled, :data => { :remote => true, :url => toggle_provider_path(provider), :method => :post }, :disabled => !policy(provider).toggle?
          %td
            - if policy(provider).destroy?
              - if provider.transactions.empty?
                = link_to 'Remove', provider_path(provider), :method => :delete, :class => 'fdelete'
              - else
                %a.fdelete.disabled(title="Provider can't be removed because it has transactions registered") Remove
            - else
              %a.fuser.hidden
    = render partial: '/providers/new_provider'

