%h2 Providers

.providers
  %table.GralTable
    %colgroup
      %col(style="width: 45px;")
      %col(style="width: auto;")
      %col(style="width: 70px;")
      %col(style="width: 100px;")
    %tbody
      %tr
        %th Code
        %th Name
        %th Enabled?
        %th
      - @clinic.providers.each do |provider|
        %tr
          %td= provider.code
          %td= provider.name
          %td
            = check_box_tag "enabled", provider.id, provider.enabled, :data => { :remote => true, :url => toggle_provider_path(provider), :method => :post }
          %td
            - if provider.transactions.empty?
              = link_to 'Remove', provider_path(provider), :method => :delete, :class => 'fdelete'

%br
.w30.ux-collapsible.collapsed(data-on-expanded="")
  %span
    %a.fadd Add new provider
  .ux-content
    = form_tag providers_path do
      = hidden_field_tag 'clinic_id', @clinic.id

      .field
        = label_tag 'provider[code]', 'Code'
        = text_field_tag 'provider[code]', nil, maxlength: 3, size: 3

      .field
        = label_tag 'provider[name]', 'Name'
        = text_field_tag 'provider[name]', nil, maxlength: 100, :class => 'w30'

      .actions
        = button_tag 'Add Provider', :class => 'white'
