= render partial: '/sites/tabs', locals: { active_tab: 'clinics' }

%h1
  = link_to '', site_clinics_path(@site), :class => 'fleft'
  = @clinic.name

.left.box.w40
  = render partial: 'providers'
.right.box.w50
  = render partial: 'services'

.clinics-span

:javascript
  $(function() { onClinicsShow() })
