= devise_error_messages! :class => 'w30 centered'

.box.centered.w30
  %h2 Edit #{resource_name.to_s.humanize}
  %hr.shadow

  = form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f|

    .field.w30
      = f.label :email
      = f.email_field :email, :autofocus => true

    - if devise_mapping.confirmable? && resource.pending_reconfirmation?
      %div Currently waiting confirmation for: #{resource.unconfirmed_email}

    .field.w30
      = f.label :password
      %p (leave blank if you don't want to change it)
      = f.password_field :password, :autocomplete => "off"

    .field.w30
      = f.label :password_confirmation
      = f.password_field :password_confirmation

    .field.w30
      = f.label :current_password
      %p (we need your current password to confirm your changes)
      = f.password_field :current_password

    .actions
      = f.button "Update", :class => 'white'

