= errors_for @user
%br

= form_for @user do |f|
  .field
    = f.label :email
    = f.email_field :email, :autofocus => true

  .field
    = f.label :password
    - unless @user.new_record?
      %p (leave blank if you don't want to change it)
    = f.password_field :password, :autocomplete => "off"

  .field
    = f.label :password_confirmation
    = f.password_field :password_confirmation

  - unless @user == current_user
    .field
      = f.radio_button :role, :admin
      = f.label :role_admin, 'Administrator'
      %span.fineprint User will be able to manage all sites and have full access to all functionality in the system.
      %br
      = f.radio_button :role, :auditor
      = f.label :role_auditor, 'Auditor'
      %span.fineprint User will be able to view all sites, transactions, statements, and reports but cannot change anything.
      %br
      = f.radio_button :role, :site_manager
      = f.label :role_site_manager, 'Site manager'
      %span.fineprint User can only manage information from an assigned site.

  .actions
    = f.button nil, :class => 'grey'
    = link_to "Cancel", users_path

