%h1 Users

.tablewrapp
  %table.GralTable.users-list.ItemTable
    %colgroup
      %col(style="width: auto;")
      %col(style="width: 150px;")
      %col(style="width: 80px;")
      %col(style="width: auto;")
      %col(style="width: 120px;")
    %tbody
      %tr
        %th Email
        %th Last login
        %th Role
        %th Manages site
        %th
      - @users.each do |user|
        %tr(data-action="#{edit_user_path(user)}")
          %td= user.email
          %td= user.last_sign_in_at.try(:to_s, :long)
          %td= short_role(user.role)
          %td
            - if user.admin?
              %i (All Sites)
            - else
              = user.site.try(:name)
          %td
            = link_to '', edit_user_path(user), :class => 'farrow'
            - unless user == current_user
              = link_to 'Delete', user_path(user), :class => 'fdelete', :method => :delete, :confirm => 'Are you sure?'
            - else
              %a.fdelete.disabled(title="You cannot delete yourself") Delete
      
%br
.actions
  = link_to 'Create new user', new_user_path, :class => 'cadd'

