.box.centered.w30
  %h2 Forgot your password?
  %hr.shadow

  = form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f|
    = devise_error_messages!

    .field.w30
      = f.label :email
      = f.email_field :email, :autofocus => true

    .actions
      = f.button "Send me reset password instructions", :class => 'white'

  %br
  %hr
  %br
  = render "devise/shared/links"
