%br
%ul.reports-tabs.tabs.top
  %li.agep_ids
    = link_to "AGEP IDs", reports_agep_ids_path
  %li.voucher_usage
    = link_to "Voucher Usage", reports_voucher_usage_path
  %li.txns_per_site
    = link_to "Transactions per Site", reports_txns_per_site_path
  %li.txns_per_clinic
    = link_to "Transactions per Clinic", reports_txns_per_clinic_path

.tabsline

:javascript
  $('.reports-tabs').find('.#{params[:action]}').addClass('active');

