%br
%ul.reports-tabs.tabs.top
  %li.card_allocation
    = link_to "Card Allocation", reports_card_allocation_path
  %li.transactions
    = link_to "Transactions", reports_transactions_path
  %li.services
    = link_to "Services", reports_services_path
  %li.clinics
    = link_to "Clinics", reports_clinics_path

.tabsline

:javascript
  $('.reports-tabs').find('.#{params[:action]}').addClass('active');

