.ux-collapsible(data-on-expanded="box grey"){:class => (statements_filter_empty? and 'collapsed' or 'box grey')}
  %span
    %a.fconfiguration Filter these results
  .ux-content
    = form_tag statements_path, :method => :get do
      = hidden_field_tag :sort, params[:sort]
      = hidden_field_tag :direction, params[:direction]
      %table.filter-container
        %colgroup
          %col(style="width: 120px;")
          %col(style="width: 170px;")
          %col(style="width: 170px;")
          %col(style="width: 125px;")
          %col(style="width: auto;")
          %col(style="width: 125px;")
        %tr
          %td
            %label(for="stmt_id") ID #
            %br
            = text_field_tag :stmt_id, params[:stmt_id], :class => 'w10'
          %td
            %label(for="site_id") Sites
            %br
            = select_tag :site_id, sites_filter_options(params[:site_id]), :class => 'w15'
          %td
            %label(for="clinic_id") Clinics
            %br
            = select_tag :clinic_id, clinics_filter_options(params[:site_id], params[:clinic_id]), :class => 'w15'
          %td
            %label(for="status") Status
            %br
            = select_tag :status, statement_status_filter_options(params[:status]), :class => 'w10'
          %td
            %label(for="since") Date range
            %br
            = text_field_tag :since, params[:since], :class => 'ux-datepicker w10', :autocomplete => 'off'
            %span to
            = text_field_tag :until, params[:until], :class => 'ux-datepicker w10', :autocomplete => 'off'
          %td
            = button_tag 'Filter', :class => 'grey'
            = link_to 'Clear', clear_filter_statements_path, :class => 'button white'

:javascript
  var Clinics = #{clinics_by_site.to_json.gsub('</', '<\/')};
