.ux-collapsible(data-on-expanded="box grey"){:class => (statements_filter_empty? and 'collapsed' or 'box grey')}
  %span
    %a.fconfiguration Filter these results
  .ux-content
    = form_tag statements_path, :method => :get do
      = hidden_field_tag :sort, params[:sort]
      = hidden_field_tag :direction, params[:direction]
      %table.filter-container.statements-filter
        %colgroup
          %col
          %col
          %col
        %tr
          %td
            %label(for="stmt_id") ID #
            = text_field_tag :stmt_id, params[:stmt_id], :class => 'w10'
            %br
            %br
            = many_check_box_tags :status, Statement.status.options, params[:status], :select_all => false
          %td
            %label(for="since") Statements generated 
            = text_field_tag :since, params[:since], :class => 'ux-datepicker w10', :autocomplete => 'off'
            %span to
            = text_field_tag :until, params[:until], :class => 'ux-datepicker w10', :autocomplete => 'off'
            %br
            %label(for="txn_from") With transactions made
            = text_field_tag :txn_from, params[:txn_from], :class => 'ux-datepicker w10', :autocomplete => 'off'
            %span to
            = text_field_tag :txn_to, params[:txn_to], :class => 'ux-datepicker w10', :autocomplete => 'off'
            %br
            %label(for="site_id") Clinic sites
            = select_tag :site_id, sites_for_select(params[:site_id]), :class => 'ux-select2 w50', :multiple => true
            %br
            %label(for="clinic_id") Clinics
            = select_tag :clinic_id, all_clinics_for_select(params[:clinic_id]), :class => 'ux-select2 w50', :multiple => true
          %td
            = button_tag 'Filter', :class => 'grey'
            = link_to 'Clear', clear_filter_statements_path, :class => 'button white'

