%h1 Statements

= render partial: 'filter_form'

%br
.tablewrapp
  %table.GralTable.w-pagination.statements.ItemTable
    %colgroup
      %col(style="width: 50px")
      %col(style="width: 150px")
      %col(style="width: 120px")
      %col(style="width: 160px")
      %col(style="width: 100px")
      %col(style="width: 80px")
      %col(style="width: 90px")
      %col.noprint(style="width: 100px")
    %tbody
      %tr
        = sort_header('id', 'ID#')
        = sort_header('date')
        = sort_header('site')
        = sort_header('clinic')
        = sort_header('until')
        %th # services
        %th Total cost
        = sort_header('status')
        %th
      - @statements.each do |stmt|
        %tr(data-action="#{statement_path(stmt)}")
          %td= stmt.id
          %td= stmt.created_at.to_s(:transaction)
          %td= stmt.site.name
          %td= stmt.clinic.name
          %td= stmt.until.to_time_in_current_zone.to_s(:date)
          %td.number= stmt.transactions.count
          %td.number= number_to_currency(stmt.total, unit: '')
          %td= stmt.status
          %td
            = link_to '', stmt, :class => 'farrow'
  = paginate @statements

%br
.actions
  = link_to 'Generate Statements', generate_statements_path, :class => 'cadd'
