%h1 Statements

= render partial: 'filter_form'

%br
.tablewrapp
  %table.GralTable.w-pagination.statements.ItemTable
    %colgroup
      %col(style="width: 80px")
      %col(style="width: 150px")
      %col(style="width: auto")
      %col(style="width: auto")
      %col(style="width: 100px")
      %col(style="width: 100px")
      %col(style="width: 70px")
      %col(style="width: 90px")
      %col.noprint(style="width: 80px")
      %col.noprint(style="width: 40px")
    %tbody
      %tr
        = sort_header('id', 'ID#')
        = sort_header('date', 'Generated')
        = sort_header('site')
        = sort_header('clinic')
        = sort_header('txn_from', 'Txns from')
        = sort_header('txn_to', 'Txns to')
        %th # svcs
        %th Total cost
        = sort_header('status')
        %th
      - @statements.each do |stmt|
        %tr(data-action="#{statement_path(stmt)}" data-id="#{stmt.id}")
          %td.no-link
            = check_box_tag "stmt-#{stmt.id}", stmt.id, false, :class => 'stmt_check'
            = label_tag "stmt-#{stmt.id}", stmt.id
          %td= stmt.created_at.to_s(:transaction)
          %td= stmt.site.name
          %td= stmt.clinic.name
          %td= stmt.txn_from.to_s(:date)
          %td= stmt.txn_to.to_s(:date)
          %td.number= stmt.txn_count
          %td.number= number_to_currency(stmt.total, unit: '')
          %td= stmt.status
          %td
            = link_to '', stmt, :class => 'farrow'
  = paginate @statements

%br
.actions
  %a.fexport.disabled(data-action="#{export_statements_path}") Export selected with summary as XLSX
  %br
  - if policy(Statement).generate?
    = link_to 'Generate Statements', generate_statements_path, :class => 'cadd'

= form_tag export_statements_path, :id => 'export_stmts' do 
  = hidden_field_tag 'stmt_ids'

:javascript
  $(function() { onStatementsIndex() });

