%h1
  Statement ##{@stmt.id}
  %span.fineprint (#{@stmt.status})

.box.w60
  .right
    - if @stmt.paid?
      = link_to 'Mark as unpaid', toggle_status_statement_path(@stmt), :method => :post, :class => 'fclose'
    - else
      = link_to 'Mark as paid', toggle_status_statement_path(@stmt), :method => :post, :class => 'faccept'
    %br
    = link_to 'Export CSV', statement_path(@stmt, :format => 'csv'), :class => 'fexport'
  %div
    Clinic: 
    %span= @stmt.clinic.name
    %br
    Date:
    %span= @stmt.created_at.to_s(:date)
    %br
    Includes transactions until: 
    %span= @stmt.until.to_time_in_current_zone.to_s(:date)
    %br
    Total amount: 
    %span= number_to_currency(@stmt.compute_total, unit: '')

%br
.tablewrapp.statement
  %table.GralTable
    %colgroup
      %col(style="width: 55px")
      %col(style="width: 150px")
      %col(style="width: 65px")
      %col(style="width: 60px")
      %col(style="width: 95px")
      %col(style="width: 80px")
      %col(style="width: auto")
    %tbody
      %tr
        %th Txn ID
        %th Date
        %th Provider
        %th Service
        %th AGEP ID
        %th Voucher
        %th Amount
      - @stmt.transactions.for_listing.each do |txn|
        %tr
          %td= txn.id
          %td= txn.created_at.to_s(:transaction)
          %td= txn.provider.code
          %td= txn.service.code
          %td= txn.patient.agep_id
          %td= card_serial_number(txn.card)
          %td.number= number_to_currency(txn.amount, unit: '')

%br
.actions
  = link_to 'Delete Statement', @stmt, :method => :delete, :confirm => 'Are you sure?', :class => 'fdelete'

