%tr(data-id="#{patient.id}")
  %td
    = check_box_tag nil, patient.id, false, :class => 'patient_check'
  %td= patient.agep_id

  - if patient.current_card.nil?
    %td(colspan="5")
      %a.fadd.assign_action(data-action="#{assign_card_patient_path(patient)}")
        Assign card
  - else 
    %td
      = card_status(patient.current_card)
      %span= card_serial_number(patient.current_card)

    - if patient.current_card.validity.nil?
      %td(colspan="2")
        %a.fplay.start_action(data-action="#{start_validity_card_path(patient.current_card)}") Start validity
    - else
      %td= card_validity(patient.current_card)
      %td
        = card_expiration(patient.current_card)
        - if patient.current_card.expiration.present?
          %a.fedit.set_expiration(data-action="#{set_expiration_card_path(patient.current_card)}" data-expiration="#{patient.current_card.expiration.to_human_param}")

    %td
      %a.fclaim.report_action(data-action="#{lost_card_patient_path(patient)}" data-serial-number="#{card_serial_number(patient.current_card)}") Report lost
    %td
      - if patient.can_unassign?
        %a.fremove.unassign_action(data-action="#{unassign_card_patient_path(patient)}" data-serial-number="#{card_serial_number(patient.current_card)}") Unassign card
  %td
    - if patient.current_card.nil? && patient.can_be_destroyed?
      %a.fdelete.destroy_action(data-action="#{patient_path(patient)}") Remove

