- if current_user.admin?
  = render partial: '/sites/tabs', locals: { active_tab: 'mentors' }
- else
  %h1= @site.name

%h1 Mentors

.tablewrapp.mentors.w60
  %table.GralTable.ItemTable
    %colgroup
      %col(style="width: auto")
      %col(style="width: 120px")
      %col(style="width: 140px")
    %tbody
      %tr
        %th Name
        %th AGEP IDs (without card)
        %th
      - @mentors.each do |mentor|
        %tr(data-action="#{site_mentor_path(@site, mentor)}")
          %td
            = mentor.name
          %td
            = mentor.patients.count
            - if mentor.patients.without_card.any?
              = "(#{mentor.patients.without_card.count})"
          %td
            = link_to '', site_mentor_path(@site, mentor), :class => 'farrow'
            - if mentor.patients.count == 0
              = link_to 'Remove', site_mentor_path(@site, mentor), :method => :delete, :class => 'fdelete'
            - else
              %a.fdelete.disabled(title="Mentor can't be removed while she has patients assigned") Remove
      = render partial: 'new_mentor'

