- if current_user.admin?
  = render partial: '/sites/tabs', locals: { active_tab: 'mentors' }
- else
  %h1= @site.name

%h1
  = link_to '', site_mentors_path(@site), :class => 'fleft'
  = @mentor.name

.tablewrapp.w60
  %table.GralTable.patients
    %colgroup
      %col(style="width: 35px")
      %col(style="width: auto")
      %col(style="width: 120px")
      %col(style="width: 120px")
      %col(style="width: 120px")
    %tr
      %th
      %th AGEP ID
      %th Current card
      %th Valid from
      %th
    - @mentor.patients.each do |patient|
      %tr(data-id="#{patient.id}")
        %td
          = check_box_tag nil, patient.id
        %td= patient.agep_id
        %td= card_serial_number(patient.current_card)
        %td= card_validity(patient.current_card)
        %td
          - if patient.current_card.nil?
            %a.fadd.assign_action(data-action="#{assign_card_patient_path(patient)}")
              Assign card
          - elsif patient.current_card.validity.nil?
            %a.fplay.start_action(data-action="#{start_validity_card_path(patient.current_card)}") Start validity
          - else
            %a.fclaim.report_action(data-action="#{lost_card_patient_path(patient)}" data-serial-number="#{card_serial_number(patient.current_card)}") Report lost

  = render partial: 'assign_card'
  = render partial: 'start_validity'
  = render partial: 'report_lost'

  

%br
.actions
  .w40.ux-collapsible.collapsed(data-on-expanded="box grey")
    %span
      %a.fadd Add new AGEP IDs to this group
    .ux-content
      = form_tag add_patients_site_mentor_path(@site, @mentor) do
        .field.w40
          = label_tag :agep_ids, 'AGEP IDs'
          %p (you can enter several AGEP IDs separated by spaces or new lines)
          = text_area_tag :agep_ids, '', rows: 5, :autofocus => true
        .actions
          = button_tag 'Add', :class => 'grey'

  - if @site.unassigned_cards.count > 0
    .w20.ux-collapsible.collapsed(data-on-expanded="box grey")
      %span
        %a.fsettings Assign cards automatically
      .ux-content
        = form_tag auto_assign_site_mentor_path(@site, @mentor) do
          .field.w20
            = label_tag :initial_serial_number, 'Initial Serial Number'
            = text_field_tag :initial_serial_number, 
              first_unassigned_card_serial_number(@site), 
              :class => 'serial_number', :autofocus => true
          .actions
            = button_tag 'Assign', :class => 'grey'
  - else
    .w20
      %span
        %a.fsettings.disabled Assign cards automatically


  .w30.ux-collapsible.collapsed(data-on-expanded="box grey")
    %span
      %a.fright Move selected to another mentor
    .ux-content.move_dialog
      = form_tag move_patients_site_mentor_path(@site, @mentor) do
        = hidden_field_tag "patient_ids"
        .field.w30
          = label_tag :target_id, 'Select another mentor'
          = select_tag :target_id, target_mentors_for_select(@site, @mentor), include_blank: true, class: 'w30', autofocus: true
        .actions
          = button_tag 'Move', :class => 'grey', :disabled => true

:javascript
  $(function() { onMentorShow() })

