- if current_user.admin?
  = render partial: '/sites/tabs', locals: { active_tab: 'mentors' }
- else
  %h1.site= @site.name

%h2.mentor
  = link_to '', site_mentors_path(@site), :class => 'fleft'
  = @mentor.name

.tablewrapp.w60
  %table.GralTable.patients
    %colgroup
      %col.noprint(style="width: 35px")
      %col(style="width: 110px")
      %col(style="width: 95px")
      %col(style="width: 100px")
      %col.noprint(style="width: 120px")
      %col.noprint(style="width: auto")
    %tr
      %th
        %input.check_all(type="checkbox")
      %th AGEP ID
      %th Current card
      %th Valid from
      %th(colspan="2")
    - @patients.each do |patient|
      = render partial: 'patient', locals: { patient: patient }

  = render partial: 'assign_card'
  = render partial: 'start_validity'
  = render partial: 'report_lost'
  = render partial: 'unassign_card'
  = render partial: 'destroy_patient'

%br
.actions
  .column.w30
    = render partial: 'add_patients'
    = render partial: 'auto_assign'
    = render partial: 'batch_validate'
    = render partial: 'move_patients'
  .column.w30
    = link_to 'Export CSV', site_mentor_path(@site, @mentor, :format => 'csv'), :class => 'fexport'
    %br
    %a.fexport.print_self Print sheet

:javascript
  var NextSerialNumber = '#{first_unassigned_card_serial_number(@site)}';
  $(function() { onMentorShow() })

