.tablewrapp.mentors
  %table.GralTable
    %tbody
      %tr
        %th Name
        %th Patients
        %th
      - @site.mentors.each do |mentor|
        %tr
          %td
            = link_to mentor.name, manage_site_mentor_path(@site, mentor)
          %td= mentor.patients.count
          %td
            = link_to '', manage_site_mentor_path(@site, mentor), :class => 'farrow'
            - if mentor.patients.count == 0
              = link_to 'Remove', site_mentor_path(@site, mentor), :method => :delete, :class => 'fdelete'

%br
.w30.ux-collapsible.collapsed(data-on-expanded="box grey")
  %span
    %a.fadd Add new Mentor
  .ux-content
    = form_tag site_mentors_path(@site) do
      .field
        = label_tag "mentor[name]", 'Name'
        = text_field_tag "mentor[name]", '', :class => 'w30'
      .actions
        = button_tag 'Add', :class => 'white'

