%h1 Site Management

= render partial: '/sites/selector', :locals => { :path_helper => :manage_site_path }

%h2= @site.name

%h3 Mentors

%table
  %thead
    %tr
      %th Name
      %th
  %tbody
    - @site.mentors.each do |mentor|
      %tr
        %td
          = link_to mentor.name, manage_site_mentor_path(@site, mentor)
        %td
          - if mentor.pacients.count == 0
            = link_to 'Remove', site_mentor_path(@site, mentor), :method => :delete

%br
.box.new_mentor_form
  = form_tag site_mentors_path(@site) do
    .field
      = label_tag "mentor[name]", 'Name'
      = text_field_tag "mentor[name]"
    .actions
      = submit_tag 'Add'
