%h1 Site Management

= render partial: '/sites/selector', :locals => { :path_helper => :manage_site_path }

%h2
  = @site.name
  - if @mentor
    \-
    = @mentor.name


- if @mentor.nil?
  = render partial: 'mentors'
- else
  = render partial: 'patients'

:javascript
  $(function() { onManagementIndex() })

