%h1 Site Management

= render partial: '/sites/selector', :locals => { :path_helper => :manage_site_path }

%h2= @site.name

- if @mentor.nil?
  = render partial: 'mentors'
- else
  %h3= @mentor.name

  %table
    %thead
      %tr
        %th
        %th AGEP ID
        %th Current card
        %th Valid from
        %th
    %tbody
      - @mentor.patients.each do |patient|
        %td
          = check_box_tag "patient_ids[]", patient.id
        %td= patient.agep_id
        %td= patient.current_card.try(:serial_number)
        %td= patient.current_card.try(:validity)
        %td
          - if patient.current_card.nil?
            = link_to 'Assign card', assign_card_patient(patient)
        
