%h1 Batches

.tablewrapp
  %table.GralTable.w-pagination.batches
    %colgroup
      %col(style="width: auto")
      %col(style="width: 95px")
      %col(style="width: 80px")
      %col(style="width: 70px")
      %col(style="width: 70px")
      %col(style="width: 70px")
      %col.noprint(style="width: 140px")
    %tbody
      %tr
        = sort_header('name', 'Batch identification')
        = sort_header('created_at', 'Generated')
        = sort_header('initial_serial_number', 'Initial SN')
        %th Quantity
        %th In Stock
        %th In Sites
        %th
      - @batches.each do |batch|
        = render partial: 'batch', locals: { batch: batch }
  = paginate @batches

%br
.actions
  = link_to 'Generate new batch', new_batch_path, :class => 'cadd'

:javascript
  $(function() { onBatchIndex(); })

