= form_tag site_cards_path(@site), :method => :post do
  .field
    = label_tag "Add Cards from Batch"
    = select_tag :batch_id, options_from_collection_for_select(@batches, :id, :name), include_blank: true

  .field
    = label_tag "Initial Serial Number"
    = text_field_tag :first_serial_number, nil, :class => 'serial_number'

  .field
    = label_tag "Quantity"
    = number_field_tag :quantity, nil, min: 1, max: 999999

  .actions
    = submit_tag "Add to Site stock"

