%h1 Transactions
%p.fineprint (Transactions marked with * are from training sites and will not be included in any statement)

= render partial: 'filter_form'

%br
.tablewrapp
  %table.GralTable.w-pagination.transactions
    %colgroup
      %col(style="width: 45px")
      %col(style="width: 150px")
      %col(style="width: 160px")
      %col(style="width: 45px")
      %col(style="width: 40px")
      %col(style="width: 100px")
      %col(style="width: 80px")
      %col(style="width: 45px")
      %col(style="width: 100px")
      %col(style="width: auto")
    %tbody
      %tr
        %th ID#
        %th Date
        %th Clinic
        %th Prov
        %th Svc
        %th AGEP ID
        %th Voucher
        %th Stmt
        %th Status
        %th Comment
      - @transactions.each do |txn|
        = render partial: 'transaction', locals: { txn: txn }
  = paginate @transactions

  = render partial: 'update_status'
  
:javascript
  var Clinics = #{clinics_by_site.to_json.gsub('</', '<\/')};
  $(function() { onTransactionsIndex() });

