%h1 Transactions
%p.fineprint (Transactions marked with * are from training sites and will not be included in any statement)

.tablewrapp
  %table.GralTable.w-pagination.transactions
    %colgroup
      %col(style="width: 45px")
      %col(style="width: 150px")
      %col(style="width: 160px")
      %col(style="width: 65px")
      %col(style="width: 60px")
      %col(style="width: 100px")
      %col(style="width: 70px")
      %col(style="width: 100px")
      %col(style="width: auto")
    %tbody
      %tr
        %th ID#
        %th Date
        %th Clinic
        %th Provider
        %th Service
        %th AGEP ID
        %th Voucher
        %th Status
        %th Comment
      - @transactions.each do |txn|
        %tr{:class => ('training' if txn.training?)}
          %td= txn.id
          %td= txn.created_at.to_s(:long)
          %td(title="#{txn.clinic.name}")= txn.clinic.name
          %td= txn.provider.code
          %td= txn.service.code
          %td= txn.patient.agep_id
          %td= txn.card.full_serial_number
          %td
            %a.fedit.status{:class => ('disabled' if txn.paid?), "data-action" => update_status_transaction_path(txn)}
              = txn.status
          %td.comment(title="#{txn.comment}")= txn.comment
  = paginate @transactions

  .dialog#update_status_dialog
    .box.grey.w40
      %span
        %a.fedit Change Status
      .ux-content
        = form_tag nil, :method => "post" do
          %p
            Set to
            %br
            %input#unpaid_status(type="radio" name="status" value="unpaid")
            %label(for="unpaid_status") Unpaid
            %br
            %input#pending_status(type="radio" name="status" value="pending")
            %label(for="pending_status") Pending
            %br
            %input#rejected_status(type="radio" name="status" value="rejected")
            %label(for="rejected_status") Rejected
          .field.w40
            %label(for="comment") Comments
            %textarea#comment(rows="4" name="comment")
          .actions
            %button.white(type="submit") Update
  
:javascript
  $(function() { onTransactionsIndex() });

