= errors_for @site

= form_for @site do |f|
  .field.w30
    = f.label :name
    = f.text_field :name, :class => 'w30', :autofocus => true

  .field
    = f.label :training, 'Training Site'
    %p Transactions from providers or cards assigned to this site will not be included in any statement.
    = f.check_box :training

  .actions
    = f.button nil, :class => 'white'
    = link_to 'Back', sites_path

