= errors_for @site

= form_for @site do |f|
  .field.w30
    = f.label :name
    = f.text_field :name, :class => 'w30', :autofocus => true, :maxlength => 100

  .field
    = f.check_box :training
    = f.label :training, 'Training Site'
    %p Transactions from providers or cards assigned to this site will not be included in any statement.

  .actions
    = f.button nil, :class => 'grey'
    - if @site.persisted?
      = link_to 'Back', @site
    - else
      = link_to 'Back', sites_path

