= errors_for @site

= form_for @site do |f|
  .box.w30
    .field
      = f.label :name
      = f.text_field :name, :class => 'w30', :autofocus => true

    .field
      = f.check_box :training
      = f.label :training

  %br
  .actions
    = f.button nil, :class => 'white'
    = link_to 'Back', sites_path

