= form_tag return_cards_site_path(@site) do
  .tablewrapp.w40
    %table.GralTable.unassigned-cards
      %colgroup
        %col.noprint(style="width: 35px;")
        %col(style="width: auto;")
        %col(style="width: 120px;")
      %tbody
        %tr
          %th
            %input.check_all(type="checkbox")
          %th Batch
          %th Serial number
        - @site.unassigned_cards.each do |card|
          %tr
            %td
              = check_box_tag "return_ids[]", card.id, false, :class => 'return_card'
            %td= card.batch.name
            %td= card_serial_number(card)

  %br
  .actions
    = button_tag 'Return selected cards to PopCouncil stock', :class => 'white return_button', :disabled => true

