%h3 Unassigned cards in site's stock

= form_tag return_cards_site_path(@site) do
  .unassigned_cards
    %table.GralTable
      %colgroup
        %col(style="width: 30px;")
        %col
        %col(style="width: 10em;")
      %tbody
        %tr
          %th
            %input.check_all(type="checkbox")
          %th Batch
          %th Serial number
        - @site.unassigned_cards.each do |card|
          %tr
            %td
              = check_box_tag "return_ids[]", card.id, false, :class => 'return_card'
            %td= card.batch.name
            %td= card.serial_number
  .actions
    = button_tag 'Return selected cards to PopCouncil stock', :class => 'white'

