.right.sbox.grey.StateDisplay.w20
  = render partial: 'site_status'

= render partial: 'tabs', locals: { active_tab: 'assign_cards' }

%h1 Add Cards to Site Manager

.left
  .box.w30
    = render partial: 'add_from_batch'

  %br
  .box.w30
    = render partial: 'add_individual'

.right
  .box.w50
    = render partial: 'unassigned_cards'

.cards-span

:javascript
  var availability = #{cards_availability(@batches).to_json.gsub('</', '<\/')};
  $(function() { onSiteAssignCardsIndex() })

