.right.sbox.grey.StateDisplay.w20
  = render partial: 'site_status'

= render partial: 'tabs', locals: { active_tab: 'assign_cards' }

%h1 Unassigned cards in Site's stock

.right
  .box.grey.w30
    = render partial: 'add_from_batch'

  %br
  .box.grey.w30
    = render partial: 'add_individual'

= render partial: 'unassigned_cards'

:javascript
  var availability = #{cards_availability(@batches).to_json.gsub('</', '<\/')};
  var needed = #{site_needed_cards(@site)};
  $(function() { onSiteAssignCardsIndex() })

