= render partial: 'tabs', locals: { active_tab: 'manager' }

%h2 Site Manager

= errors_for @user
%br

- if @user.new_record?
  .box.column.w30
    %h3 Create a new user
    = render partial: 'manager'

  .column.w10

  .box.column.w30
    %h3 Select a pre-existing user
    = form_tag set_manager_site_path(@site) do
      .field
        = label_tag :user_id, 'User'
        = select_tag :user_id, possible_site_managers_for_select, :include_blank => true, :class => 'w30'
      .actions
        = button_tag 'Set manager', :class => 'grey'

- else
  = render partial: 'manager'

