.search-box
  = form_tag search_sites_path, method: 'get' do
    = search_field_tag :q, '', :placeholder => 'Search for AGEP IDs or Card SN', :class => 'ux-search w30'
%h1 Sites

.tablewrapp.w60
  %table.GralTable.sites.ItemTable
    %colgroup
      %col(style="width: auto")
      %col(style="width: 75px")
      %col(style="width: 90px")
      %col(style="width: 90px")
      %col(style="width: 90px")
      %col.noprint(style="width: 40px")
    %tbody
      %tr
        %th Site identification
        %th Training?
        %th AGEP IDs
        %th Unassigned cards
        %th Activated cards
        %th
      - @sites.each do |site|
        %tr(data-action="#{site_path(site)}")
          %td
            = site.name
          %td
            - if site.training?
              %input(type="checkbox" disabled="true" checked="true")
            - else
              %input(type="checkbox" disabled="true")
          %td= site.patients.count
          %td= site.unassigned_cards.count
          %td= site.active_cards.count
          %td
            = link_to '', site, :class => 'farrow'

      - if policy(Site).new?
        - if @sites.empty?
          %tr
            %td.emptyTable(colspan="6")
              There are no sites defined.
              %br
              = link_to 'Register a new site', new_site_path
              to start using the application.
        - else
          %tr.add(data-action="#{new_site_path}")
            %td(colspan="5")
              Register new site
            %td
              = link_to '', new_site_path, :class => 'cadd'

