%h1 Sites

.tablewrapp
  %table.GralTable.sites
    %colgroup
      %col(style="width: 250px")
      %col(style="width: 75px")
      %col(style="width: 180px")
      %col(style="width: 130px")
      %col(style="width: 130px")
      %col(style="width: 130px")
    %tbody
      %tr
        %th Site identification
        %th Training?
        %th Manager
        %th Mentors
        %th AGEP IDs
        %th Unassigned cards
        %th
      - @sites.each do |site|
        %tr
          %td
            = link_to site.name, site
          %td
            - if site.training?
              %input(type="checkbox" disabled="true" checked="true")
            - else
              %input(type="checkbox" disabled="true")
          %td= site.manager.try(:email)
          %td= site.mentors.count
          %td= site.patients.count
          %td= site.unassigned_cards.count
          %td
            = link_to '', site, :class => 'farrow'

      - if @sites.empty?
        %tr
          %td.emptyTable(colspan="7")
            There are no sites defined.
            %br
            = link_to 'Register a new site', new_site_path
            to start using the application.

%br
.actions
  = link_to 'Register new site', new_site_path, :class => 'fadd'

