= render partial: 'tabs', locals: { active_tab: 'overview' }

%h1 Site Properties

.box.overview{ :class => ('incomplete' if site_needs_more_cards(@site)) }
  .i48grad-list.icon
  .content
    #{@site.unassigned_cards.count} Unassigned cards
    %br
    #{@site.patients.without_card.count} AGEP IDs with no card
  = link_to 'Add cards to site', assign_cards_site_path(@site), :class => 'farrow'

.box.overview{ :class => ('incomplete' if @site.providers.empty?) }
  .i48grad-dataBase.icon
  .content
    #{@site.clinics.count} Clinics
    %br
    #{@site.providers.count} Providers
  = link_to 'Manage Clinics', site_clinics_path(@site), :class => 'farrow'

.box.overview{ :class => ('incomplete' if @site.mentors.empty?) }
  .i48grad-users.icon
  .content
    #{@site.mentors.count} Mentors
    %br
    #{@site.patients.count} AGEP IDs
  = link_to 'Manage Mentors', site_mentors_path(@site), :class => 'farrow'

%br
%br
.actions
  = link_to 'Export Patients CSV', patients_site_path(@site, :format => 'csv'), :class => 'fexport'
  %br
  = link_to 'Export Providers CSV', providers_site_path(@site, :format => 'csv'), :class => 'fexport'

