.tablewrapp
  %table.GralTable.report-table
    %colgroup
    %tbody
      %tr
        %th 
          - if @report.by_mentor?
            Mentor
          - else 
            Site
        %th.number Total AGEP IDs
        %th.number without card
        %th.number with assigned card
        %th.number used in the period
      - if @report.empty?
        %tr
          %td(colspan="5")
            - if @report.by_mentor?
              No mentors in the site.
            - else
              No sites registered.
      - else
        %tr.totals
          %td
          %td.number
            = @report.totals[:patient_count]
            %span.percentage 100.00%
          %td.number
            = @report.totals[:patients_without_card]
            %span.percentage
              = percent_of_with_base(@report.totals[:patients_without_card], @report.totals[:patient_count])
          %td.number
            = @report.totals[:patients_with_card]
            %span.percentage
              = percent_of_with_base(@report.totals[:patients_with_card], @report.totals[:patient_count])
          %td.number
            = @report.totals[:patients_with_recent_card_uses]
            %span.percentage
              = percent_of_with_base(@report.totals[:patients_with_recent_card_uses], @report.totals[:patients_with_card])

        - @report.data.each do |row|
          %tr
            %td
              = row[:name]
              - if @report.by_mentor? && @report.site_id.blank?
                %span.site_name
                  (#{row[:site_name]})
            %td.number
              = row[:patient_count]
              %span.percentage
                = percent_of_with_base(row, @report.totals, :patient_count)
            %td.number
              = row[:patients_without_card]
              %span.percentage
                = percent_of_with_base(row[:patients_without_card], row[:patient_count])
            %td.number
              = row[:patients_with_card]
              %span.percentage
                = percent_of_with_base(row[:patients_with_card], row[:patient_count])
            %td.number
              = row[:patients_with_recent_card_uses]
              %span.percentage
                = percent_of_with_base(row[:patients_with_recent_card_uses], row[:patients_with_card])


