.tablewrapp.wide
  %table.GralTable.report-table
    %colgroup
      %col(width="300px")
    %tbody
      %tr
        %th Service
        %th.center Total
        - @columns.each do |col|
          %th.center= col[:name]

      - if @data.empty?
        %tr
          %td(colspan="2 + #{@columns.size}") No services registered.
      - else
        %tr.totals
          %td
          %td.number
            = @totals[:row_total]
            %span.percentage 100%

          - @totals[:cols].each do |col|
            %td.number
              = col
              %span.percentage
                = percent_of_with_base(col, @totals[:row_total])
        
        - @data.each do |row|
          %tr
            %td.service-name
              -# = service_type_span(row)
              = row[:description]
            %td.totals.number
              = row[:row_total]
              %span.percentage
                = percent_of(row[:row_total], @totals[:row_total])
            - row[:cols].each_with_index do |col, index|
              %td.number
                = col
                %span.percentage
                  = percent_of_with_base(col, @totals[:cols][index])

