.scrollbarContainer.wide
  .horizontalScrollbar
.tablewrapp.wide
  %table.GralTable.report-table
    %colgroup
      %col(width="300px")
    %tbody
      %tr
        = sort_header('service_code', 'Service')
        = sort_header('row_total', 'Total', :class => 'center')
        - @report.columns.each do |col|
          %th.center= col[:name]

      - if @report.empty?
        %tr
          %td(colspan="2 + #{@report.columns.size}") No services registered.
      - else
        %tr.totals
          %td
          %td.number
            = @report.totals[:row_total]
            %span.percentage 100%

          - @report.totals[:cols].each do |col|
            %td.number
              = col
              %span.percentage
                = percent_of_with_base(col, @report.totals[:row_total])

        - @report.data.each do |row|
          %tr
            %td.service-name
              %span.service-code
                = row[:service_code]
              = row[:description]
            %td.totals.number
              = row[:row_total]
              %span.percentage
                = percent_of(row[:row_total], @report.totals[:row_total])
            - row[:cols].each_with_index do |col, index|
              %td.number
                = col
                %span.percentage
                  = percent_of_with_base(col, @report.totals[:cols][index])

