.tablewrapp
  %table.GralTable.report-table
    %colgroup
    %tbody
      %tr
        %th Clinic
        %th.number Transactions
        %th.number Unique Visitors
      - if @data.empty?
        %tr
          %td(colspan="4") No clinics registered in site.
      - else
        %tr.totals
          %td
          %td.number= @totals[:txn_count]
          %td.number= @totals[:unique_visitors]

        - @data.each do |row|
          %tr
            %td= row[:clinic_name]
            %td.number= row[:txn_count]
            %td.number= row[:unique_visitors]

