.tablewrapp
  %table.GralTable.report-table
    %colgroup
    %tbody
      %tr
        %th Site
        %th.number Transactions
        %th.number Unique Visitors
      - if @report.empty?
        %tr
          %td(colspan="3") No sites registered.
      - else
        %tr.totals
          %td
          %td.number= @report.totals[:txn_count]
          %td.number= @report.totals[:unique_visitors]

        - @report.data.each do |row|
          %tr
            %td.group_by_clinic(data-id="#{row[:site_id]}")= row[:site_name]
            %td.number= row[:txn_count]
            %td.number= row[:unique_visitors]

