%h1 Reports

= render partial: 'shared/reports_tabs'

%h2 Most frequently accessed clinics
%p.fineprint (Excluding clinics from training sites)

.report-grouping
  = form_tag reports_clinics_path, id: 'report_grouping_form', method: "get", remote: true do |f|
    .report-grouping-option
      %label(for="site_id") Site
      = select_tag :site_id, non_training_sites_filter_options(params[:site_id]), :class => 'w20 site'
    .report-grouping-option.right
      %label(for="since") from
      = text_field_tag :since, params[:since], :class => 'ux-datepicker w10', :autocomplete => 'off'
      %label(for="until") to
      = text_field_tag :until, params[:until], :class => 'ux-datepicker w10', :autocomplete => 'off'

#report_container
  = render partial: 'clinics'

%br
.actions
  %a.fexport(data-action="#{reports_clinics_path(:format => 'csv')}") Export as CSV
  %br
  %a.fexport.print_self Print

:javascript
  $(function() { onReportsClinics(); });


