%h1 Reports

= render partial: 'shared/reports_tabs'

%h2 Most frequently accessed health services

.report-grouping
  = form_tag reports_services_path, id: 'report_grouping_form', method: "get", remote: true do |f|
    .report-grouping-option
      %input#by_site(type="radio" name="by" value="site" checked="checked")
      %label(for="by_site") by site
    .report-grouping-option
      %input#by_clinic(type="radio" name="by" value="clinic")
      %label(for="by_clinic") by clinic in
      = select_tag :site_id, sites_for_select(params[:site_id]), :class => 'w20 site', :disabled => params[:by] != 'clinic'
    .report-grouping-option.right
      %label(for="since") from
      = text_field_tag :since, params[:since], :class => 'ux-datepicker w10', :autocomplete => 'off'
      %label(for="until") to
      = text_field_tag :until, params[:until], :class => 'ux-datepicker w10', :autocomplete => 'off'

#report_container
  = render partial: 'services'

%br
.actions
  %a.fexport(data-action="#{reports_services_path(:format => 'csv')}") Export as CSV
  %br
  %a.fexport.print_self Print

:javascript
  $(function() { onReportsServices(); });

