%h1 Reports

= render partial: 'shared/reports_tabs'

%h2 Transactions and unique patient visits per clinic in the last 30 days

.tablewrapp
  %table.GralTable.report-table
    %colgroup
    %tbody
      %tr
        %th Site
        %th Clinic
        %th.number Transactions
        %th.number Unique patient visits
      - if @data.empty?
        %tr
          %td(colspan="4") No clinics registered.
      - else
        - @data.each do |row|
          %tr
            %td= row[:site_name]
            %td= row[:clinic_name]
            %td.number= row[:txn_count]
            %td.number= row[:unique_visits]

        %tr.totals
          %td(colspan="2") Totals
          %td.number= @totals[:txn_count]
          %td.number= @totals[:unique_visits]

