%h1 Reports

= render partial: 'shared/reports_tabs'

%h2 Recent Voucher Usage

.tablewrapp
  %table.GralTable.report-table
    %colgroup
    %tbody
      %tr
        %th Site
        %th.number Total AGEP IDs with card
        %th.number used the card in the last 7 days
      - if @data.empty?
        %tr
          %td(colspan="4") No sites registered.
      - else
        - @data.each do |row|
          %tr
            %td= row[:name]
            %td.number
              = row[:patients_with_card]
              %span.percentage= percent_of(row, @totals, :patients_with_card)
            %td.number
              = row[:patients_with_recent_card_uses]
              %span.percentage= percent_of(row[:patients_with_recent_card_uses], row[:patients_with_card])

        %tr.totals
          %td Totals
          %td.number
            = @totals[:patients_with_card]
            %span.percentage 100.00%
          %td.number
            = @totals[:patients_with_recent_card_uses]
            %span.percentage= percent_of(@totals[:patients_with_recent_card_uses], @totals[:patients_with_card])
