- content_for :navigation do
  - if user_signed_in?
    - if current_user.admin?
      = section "Sites", sites_path, :sites, [:sites, :clinics, :mentors]
      = section "Batches", batches_path, :batches
      = section "Transactions", transactions_path, :transactions
      = section "Statements", nil, :statements
    - else
      = section "Site Management", root_path, :mentors

- content_for :right_menu do
  %ul.RightMenu
    - if user_signed_in?
      %li
        #User
          = current_user.email
          %br
          %br
          .container
            %ul
              %li
                = link_to 'Settings', edit_user_registration_path
            %hr
            %ul
              %li
                %a(href="mailto:support@instedd.org?subject=#{application_name.underscore}-bug")
                  Report a bug
              %li
                = link_to "Sign Out", destroy_user_session_path, :method => :delete
      %li
        = link_to '', edit_user_registration_path, :class => 'fsettings'
    - else
      %li
        = link_to "Log in", new_user_session_path, :class => 'fuser'

- content_for :footer_links do
  = link_to "Home", root_path

= render :file => 'layouts/instedd_application'

